<div class="vh-100-adapted flex flex-col justify-between">
  <div class="dummy"></div>
  <div id="upper-part">
    <h1 class="text-5xl md:text-8xl">
        {{ 'hero.greeting' | translate }}<br />
        {{ 'hero.im' | translate}} <span class="text-secondary">{{ 'hero.name' | translate }}</span>, <br />
        {{ 'hero.title' | translate }}
      </h1>
      <p class="font-medium">
        {{ 'hero.subtitle' | translate }}
      </p>
      <div class="text-center md:text-start">
        <a href="#contact-me" class="btn btn-secondary text-uppercase">
          <span>{{ 'hero.contactButton' | translate }}</span>
        </a>
      </div>
    </div>

  <div class="scroll-down text-center">
    <p class="fw-bold">{{ 'hero.scrollDown' | translate }}</p>
    <i style="font-size: 2rem; animation: bounce 2s ease-in-out infinite" class="fa-solid fa-angle-down"></i>
  </div>
</div>

<div id="idSectionAboutMe" class="md:grid md:grid-cols-2 flex flex-col-reverse gap-2 md:gap-16">
  <div class="desc">
    <h2 class="text-6xl">{{ 'about.title' | translate }}</h2>
    <div class="md:w-[80%] mt-12" [innerHTML]="('about.description' | translate | nl2br)"></div>
  </div>
  <div class="photo-me mt-12 -me-12">
    <img src="../../../assets/media/roy-orange.webp" alt="Roy" class="" />
  </div>
</div>

<div id="contact-me" class="grid md:grid-cols-2 grid-cols-1 gap-16 vh-100-adapted">
  <div class="wrapper pe-6">
    <div class="desc">
      <h2 class="text-4xl md:text-6xl">{{ 'contact.title' | translate }}</h2>
      <p class="">
        {{ 'contact.description' | translate }}
      </p>
    </div>
    <app-email-form></app-email-form>
  </div>
  <app-map></app-map>
</div>