.map-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 30px;
}

.map-frame {
  border: 2px solid black;
  height: 100%;
}

#map {
  height: 100%;
}

.photo-me {
  height: 500px;
  overflow: hidden;
}

@media screen and (max-width: 567px) {
    .photo-me {
      height: 200px;
    }
}