.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.royk-logo {
  height: 50px;
  width: 50px;
  transition: all 0.5s ease-in-out forward;
}

.royk-logo-img {
  background-color: #fff0;
  padding: 8px;
  border-radius: 5px;
  transition: all 0.150s ease-in-out;
}

.royk-logo-img:hover {
  background-color: #fff;
}

nz-content {
  margin: 0 16px;
}

nz-breadcrumb {
  margin: 16px 0;
}

.inner-content {
  padding: 24px;
  background: #fff;
  min-height: 360px;
}

nz-footer {
  text-align: center;
}
