<main>
  <nz-layout>
    <nz-sider nzWidth="200px" nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null" class="bg-primary">
      <div id="slider-content" class="flex flex-col items-center gap-8 mt-4">
        <div class="logo" width="100px" height="100px"><img width="100%" height="100%" src="assets/media/logo-mio.png" alt=""></div>
        <ul nz-menu nzTheme="dark" nzMode="inline">
          <li nz-submenu nzTitle="User" nzIcon="user">
            <ul>
              <li nz-menu-item>Tom</li>
              <li nz-menu-item>Bill</li>
              <li nz-menu-item>Alex</li>
            </ul>
          </li>
          <li nz-submenu nzTitle="Team" nzIcon="team">
            <ul>
              <li nz-menu-item>Team 1</li>
              <li nz-menu-item>Team 2</li>
            </ul>
          </li>
          <li nz-menu-item>
            <span nz-icon nzType="file"></span>
            <span>File</span>
          </li>
        </ul>
      </div>
    </nz-sider>
    <nz-layout>
      <nz-header>
        <span
          class="trigger"
          nz-icon
          [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          (click)="isCollapsed = !isCollapsed"
        ></span>
      </nz-header>
      <nz-content width="100%">
        <router-outlet></router-outlet>
      </nz-content>
      <nz-footer>Roy Kamsi ©2025</nz-footer>
    </nz-layout>
  </nz-layout>
</main>
